<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0"
  metadata-complete="true">

<display-name>
	AMSS
</display-name>

<session-config>
	<session-timeout>
		30
	</session-timeout>
</session-config>
<!--Usuario y password de base de datos-->
<context-param> 
	<description>
		Usuario base de datos
	</description>
	<!--variable con la que lo saca el servlet, id--> 
	<param-name>
		usuario
	</param-name> 
	<param-value>
		root
	</param-value> 
</context-param>
<context-param> 
	<description>
		Password base de datos
	</description> 
	<param-name>
		pass
	</param-name> 
	<param-value>
		root
	</param-value> 
</context-param>

<context-param> 
	<description>
		Base de datos
	</description> 
	<param-name>
		base
	</param-name> 
	<param-value>
		mydb
	</param-value> 
</context-param> 
<context-param> 
	<description>
		Llave AES
	</description> 
	<param-name>
		llave
	</param-name> 
	<param-value>
		root
	</param-value> 
</context-param> 

<!-- ***************Login****************-->
<servlet>

	 	<servlet-name>
			 ServletLogin
		</servlet-name>

		<servlet-class>
			 Login
		</servlet-class>
		

</servlet>

<servlet-mapping>

		<servlet-name>
			ServletLogin
		</servlet-name>

		<url-pattern>
			/login
		</url-pattern>

</servlet-mapping>
<!-- ***************Logout****************-->
<servlet>

	 	<servlet-name>
			 ServletLogout
		</servlet-name>
		
		<servlet-class>
			 Logout
		</servlet-class>
		

</servlet>

<servlet-mapping>

		<servlet-name>
			ServletLogout
		</servlet-name>

		<url-pattern>
			/logout
		</url-pattern>

</servlet-mapping>
<!-- ***************Tabla de administradores****************-->
<servlet>

	 	<servlet-name>
			 TablaAdmin
		</servlet-name>

		<servlet-class>
			 TablaAdministradores
		</servlet-class>
		

</servlet>

<servlet-mapping>

		<servlet-name>
			TablaAdmin
		</servlet-name>

		<url-pattern>
			/administradores
		</url-pattern>

</servlet-mapping>
<!-- ***************Agregar Administrador****************-->
<servlet>

	 	<servlet-name>
			 AgregarAdmin
		</servlet-name>
		
		<servlet-class>
			 AgregarAdministrador
		</servlet-class>
		

</servlet>

<servlet-mapping>

		<servlet-name>
			AgregarAdmin
		</servlet-name>

		<url-pattern>
			/altaAdministrador
		</url-pattern>

</servlet-mapping>
<!-- ***************Editar Administrador****************-->
<servlet>

	 	<servlet-name>
			 EditAdmin
		</servlet-name>
		
		<servlet-class>
			 EditarAdministrador
		</servlet-class>
		

</servlet>

<servlet-mapping>

		<servlet-name>
			EditAdmin
		</servlet-name>

		<url-pattern>
			/editaradmin
		</url-pattern>

</servlet-mapping>
<!-- ***************Sub Editar Administrador****************-->
<servlet>

	 	<servlet-name>
			 subEditAdmin
		</servlet-name>
		
		<servlet-class>
			 SubmitEditarAdministrador
		</servlet-class>
		

</servlet>

<servlet-mapping>

		<servlet-name>
			subEditAdmin
		</servlet-name>

		<url-pattern>
			/subedit
		</url-pattern>

</servlet-mapping>
<!-- ***************Tabla Preguntas****************-->
<servlet>

	 	<servlet-name>
			 preguntas
		</servlet-name>
		
		<servlet-class>
			 TablaPreguntas
		</servlet-class>
		

</servlet>

<servlet-mapping>

		<servlet-name>
			preguntas
		</servlet-name>

		<url-pattern>
			/preguntas
		</url-pattern>

</servlet-mapping>
<!-- ***************Eliminar Admiinistrador****************-->
<servlet>

	 	<servlet-name>
			 eliminarAdmin
		</servlet-name>
		
		<servlet-class>
			 EliminarAdministrador
		</servlet-class>
		

</servlet>

<servlet-mapping>

		<servlet-name>
			eliminarAdmin
		</servlet-name>

		<url-pattern>
			/eliminaradmin
		</url-pattern>

</servlet-mapping>
<!-- ***************Agregar Pregunta****************-->
<servlet>

	 	<servlet-name>
			 altaPregunta
		</servlet-name>
		
		<servlet-class>
			 AgregarPregunta
		</servlet-class>
		

</servlet>

<servlet-mapping>

		<servlet-name>
			altaPregunta
		</servlet-name>

		<url-pattern>
			/altaPregunta
		</url-pattern>

</servlet-mapping>
<!-- ***************Editar Pregunta****************-->
<servlet>

	 	<servlet-name>
			 EditPregunta
		</servlet-name>
		
		<servlet-class>
			 EditarPregunta
		</servlet-class>
		

</servlet>

<servlet-mapping>

		<servlet-name>
			EditPregunta
		</servlet-name>

		<url-pattern>
			/editar_pregunta_abierta
		</url-pattern>

</servlet-mapping>
<!-- ***************Sub Editar Pregunta****************-->
<servlet>

	 	<servlet-name>
			 subEditPregunta
		</servlet-name>
		
		<servlet-class>
			 SubmitEditarPregunta
		</servlet-class>
		

</servlet>

<servlet-mapping>

		<servlet-name>
			subEditPregunta
		</servlet-name>

		<url-pattern>
			/sub_pregunta
		</url-pattern>

</servlet-mapping>
<!-- ***************Sub Editar Pregunta****************-->
<servlet>

	 	<servlet-name>
			 eliminarPregunta
		</servlet-name>
		
		<servlet-class>
			 EliminarPregunta
		</servlet-class>
		

</servlet>

<servlet-mapping>

		<servlet-name>
			eliminarPregunta
		</servlet-name>

		<url-pattern>
			/eliminar_pregunta
		</url-pattern>

</servlet-mapping>
<!-- ***************Agregar PreguntaM****************-->
<servlet>

	 	<servlet-name>
			 agregarPreguntaM
		</servlet-name>
		
		<servlet-class>
			 AgregarPreguntaM
		</servlet-class>
		

</servlet>

<servlet-mapping>

		<servlet-name>
			agregarPreguntaM
		</servlet-name>

		<url-pattern>
			/agregar_preguntaM
		</url-pattern>

</servlet-mapping>
<!-- ***************Eliminar PreguntaM****************-->
<servlet>

	 	<servlet-name>
			 eliminarPreguntaM
		</servlet-name>
		
		<servlet-class>
			 EliminarPreguntaM
		</servlet-class>
		

</servlet>

<servlet-mapping>

		<servlet-name>
			eliminarPreguntaM
		</servlet-name>

		<url-pattern>
			/eliminar_pregunta_multiple
		</url-pattern>

</servlet-mapping>
<!-- ***************Editar PreguntaM****************-->
<servlet>

	 	<servlet-name>
			 editarPreguntaM
		</servlet-name>
		
		<servlet-class>
			 EditarPreguntaM
		</servlet-class>
		

</servlet>

<servlet-mapping>

		<servlet-name>
			editarPreguntaM
		</servlet-name>

		<url-pattern>
			/editar_pregunta_multiple
		</url-pattern>

</servlet-mapping>
<!-- ***************Sub Editar PreguntaM****************-->
<servlet>

	 	<servlet-name>
			 subeditarPreguntaM
		</servlet-name>
		
		<servlet-class>
			 SubmitEditarPreguntaM
		</servlet-class>
		

</servlet>

<servlet-mapping>

		<servlet-name>
			subeditarPreguntaM
		</servlet-name>

		<url-pattern>
			/subeditar_preguntaM
		</url-pattern>

</servlet-mapping>
<!-- ***************Upload CSV****************-->
<servlet>
	   <servlet-name>UploadServlet</servlet-name>
	   <servlet-class>UploadServlet</servlet-class>
</servlet>

<servlet-mapping>
	   <servlet-name>UploadServlet</servlet-name>
	   <url-pattern>/UploadServlet</url-pattern>
</servlet-mapping>
<!-- ***************Tabla Cuestionarios****************-->
<servlet>

	 	<servlet-name>
			 tablaCuestionarios
		</servlet-name>
		
		<servlet-class>
			 TablaCuestionarios
		</servlet-class>
		

</servlet>

<servlet-mapping>

		<servlet-name>
			tablaCuestionarios
		</servlet-name>

		<url-pattern>
			/tablaCuestionarios
		</url-pattern>

</servlet-mapping>
<!-- ***************Cargar Preguntas para cuestinario****************-->
<servlet>

	 	<servlet-name>
			 preguntasCuestionario
		</servlet-name>
		
		<servlet-class>
			CargarPCuestionario
		</servlet-class>
		

</servlet>

<servlet-mapping>

		<servlet-name>
			preguntasCuestionario
		</servlet-name>

		<url-pattern>
			/pregCuestionario
		</url-pattern>

</servlet-mapping>
<!-- ***************Agregar Cuestionario****************-->
<servlet>

	 	<servlet-name>
			 agregarCuestionario
		</servlet-name>
		
		<servlet-class>
			AgregarCuestionario
		</servlet-class>
		

</servlet>

<servlet-mapping>

		<servlet-name>
			agregarCuestionario
		</servlet-name>

		<url-pattern>
			/agregarCuestionario
		</url-pattern>

</servlet-mapping>
<!-- ***************Upload Servlet****************-->
<servlet>

	 	<servlet-name>
			 uploadEstado
		</servlet-name>
		
		<servlet-class>
			UploadServletEstado
		</servlet-class>
		

</servlet>

<servlet-mapping>

		<servlet-name>
			uploadEstado
		</servlet-name>

		<url-pattern>
			/upload_estado
		</url-pattern>

</servlet-mapping>
<!-- ***************Tabla Estados****************-->
<servlet>

	 	<servlet-name>
			 tablaEstados
		</servlet-name>
		
		<servlet-class>
			TablaEstados
		</servlet-class>
		

</servlet>

<servlet-mapping>

		<servlet-name>
			tablaEstados
		</servlet-name>

		<url-pattern>
			/tabla_estados
		</url-pattern>

</servlet-mapping>
<!-- ***************Agregar Estados****************-->
<servlet>

	 	<servlet-name>
			 agregarEstado
		</servlet-name>
		
		<servlet-class>
			AgregarEstado
		</servlet-class>
		

</servlet>

<servlet-mapping>

		<servlet-name>
			agregarEstado
		</servlet-name>

		<url-pattern>
			/alta_estado
		</url-pattern>

</servlet-mapping>
<!-- ***************Eliminar Estados****************-->
<servlet>

	 	<servlet-name>
			 eliminarEstados
		</servlet-name>
		
		<servlet-class>
			EliminarEstados
		</servlet-class>
		

</servlet>

<servlet-mapping>

		<servlet-name>
			eliminarEstados
		</servlet-name>

		<url-pattern>
			/eliminar_estados
		</url-pattern>

</servlet-mapping>
<!-- ***************Tabla Municipios****************-->
<servlet>

	 	<servlet-name>
			 tablaMun
		</servlet-name>
		
		<servlet-class>
			TablaMunicipios
		</servlet-class>
		

</servlet>

<servlet-mapping>

		<servlet-name>
			tablaMun
		</servlet-name>

		<url-pattern>
			/tabla_municipios
		</url-pattern>

</servlet-mapping>
<!-- ***************Upload Municipios****************-->
<servlet>

	 	<servlet-name>
			 uploadMun
		</servlet-name>
		
		<servlet-class>
			UploadMunicipios
		</servlet-class>
		

</servlet>

<servlet-mapping>

		<servlet-name>
			uploadMun
		</servlet-name>

		<url-pattern>
			/upload_municipios
		</url-pattern>

</servlet-mapping>
<!-- ***************Eliminar Municipios****************-->
<servlet>

	 	<servlet-name>
			 eliminarMun
		</servlet-name>
		
		<servlet-class>
			EliminarMunicipios
		</servlet-class>
		

</servlet>

<servlet-mapping>

		<servlet-name>
			eliminarMun
		</servlet-name>

		<url-pattern>
			/eliminar_municipios
		</url-pattern>

</servlet-mapping>
<!-- ***************Selecciona Cuestionario****************-->
<servlet>

	 	<servlet-name>
			 seleccionaCuestionario
		</servlet-name>
		
		<servlet-class>
			SeleccionaCuestionario
		</servlet-class>
		

</servlet>

<servlet-mapping>

		<servlet-name>
			seleccionaCuestionario
		</servlet-name>

		<url-pattern>
			/selecciona_cuestionario
		</url-pattern>

</servlet-mapping>
<!-- ***************Contesta Cuestionario****************-->
<servlet>

	 	<servlet-name>
			 contestar
		</servlet-name>
		
		<servlet-class>
			Contestar
		</servlet-class>
		
</servlet>

<servlet-mapping>

		<servlet-name>
			contestar
		</servlet-name>

		<url-pattern>
			/contestar
		</url-pattern>

</servlet-mapping>
<!-- ***************Agregar Municipio****************-->
<servlet>

	 	<servlet-name>
			 agregarMun
		</servlet-name>
		
		<servlet-class>
			AgregarMunicipio
		</servlet-class>
		
</servlet>

<servlet-mapping>

		<servlet-name>
			agregarMun
		</servlet-name>

		<url-pattern>
			/alta_municipio
		</url-pattern>

</servlet-mapping>
</web-app>